body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    animation: backgroundAnimation 10s infinite alternate;
    box-sizing: border-box;
}

@keyframes backgroundAnimation {
    0% {
        background: linear-gradient(to right, #6a11cb, #2575fc);
    }
    100% {
        background: linear-gradient(to right, #ff6f61, #de4463);
    }
}

.signup-container {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    box-sizing: border-box;
}

.signup-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.logo img {
    width: 80px;
    margin-bottom: 10px;
}

.signup-container h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    font-weight: 700;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 3px;
    color: #555;
    font-weight: 700;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    transition: border-color 0.3s, box-shadow 0.3s;
    box-sizing: border-box;
}

.input-group input:focus {
    border-color: #6a11cb;
    box-shadow: 0 0 8px rgba(106, 17, 203, 0.4);
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #6a11cb;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-sizing: border-box;
}

button:hover {
    background-color: #2575fc;
    transform: scale(1.05);
}

.footer {
    margin-top: 15px;
}

.footer p {
    color: #555;
}

.footer a {
    color: #6a11cb;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s;
}

.footer a:hover {
    color: #2575fc;
    text-decoration: underline;
}
